.footer{
    margin-top: 0px;
    background-color:var(--verde-escuro) ;
    max-width: 100%;
  }
  
  .image2{
    margin-left: 45%;
    display: flex;
    width: 8%;
    
  }
  
  .inputfooter{
    max-width: 100%;
    align-items: center;
    color: var(--branco-offwhite);
  }

