:root{
    --verde-claro:#005f41 ;
    --verde-escuro:#163e21;
    --branco-offwhite: #ededed;
  
  }
  .Nav{
    margin-bottom: 40px;
    background-color: var(--verde-claro);
    width: auto;
  }
  
  .image{
    width: 8%;
  }
  
  .botao{
    width: 100px;
    border: none;
    color: var(--branco-offwhite);
  }
  
  .botao1{
    margin-right: 20px;
  }
  
  .botao:hover{
    background-color:var(--verde-claro);
  }