:root{
    --verde-claro: #006741;
    --verde-escuro: #00442a;
    --off-white: #ededed
}

.card {
    border-radius: 1em;
    overflow: hidden;
    min-width: fit-content;
    margin: auto;
    margin-bottom: 30px;
    width: 18rem;
}

.card img{
    max-width: 300px;
}

.btn-primary{
    background-color: var(--verde-escuro);
    border: none;
}

.btn-primary:hover{
    background-color: var(--verde-claro);
}