:root{
    --verde-claro: #006741;
    --verde-escuro: #00442a;
    --off-white: #ededed
}

.card {
    border-radius: 1em;
    overflow: hidden;
    min-width: fit-content;
    margin: auto;
    margin-bottom: 30px;
    width: 24rem;
    max-width: 24rem;
    height: 900px;
    position: relative;
}

.card img{
    width: 26rem;
    height: 300px;
    
}

.card-text{
    max-width: 23rem;
    text-align: justify;
}

.card ul{
    position: absolute;
    bottom: 90px;
    width: 22rem;
}
.btn-primary{
    background-color: var(--verde-escuro);
    border: none;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.btn-primary:hover{
    background-color: var(--verde-claro);
}