.image {
  margin-bottom: 10px;
  border-radius: 50%;
  width: 8%;
}

.titulo {
  text-align: center;
  align-items: center;
  color: #005f41;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.Login {
  text-align: center;
  margin: 40px auto;
}

.usuario1 {
  border-radius: 5px;
  border-color: #005f41;
  margin-bottom: 10px;
}

.senha1 {
  border-color: #005f41;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Label1 {
  display: flex;
  margin-bottom: 0px;
}

.Label2 {
  display: flex;
  margin-bottom: 0px;
}
